/* pruebas de css*/
/*a:hover {
  font-size:20px;
  color:#100;
}*/

/*-imagen del perro*/
.perro{
-webkit-transition:all .9s ease; /* Safari y Chrome */
-moz-transition:all .9s ease; /* Firefox */
-o-transition:all .9s ease; /* IE 9 */
-ms-transition:all .9s ease; /* Opera */
width:100%;
}
.perro:hover{
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}

.perro{/*Ancho y altura son modificables al requerimiento de cada uno*/
width:200px;
height:180px;
overflow:hidden;

}

/*imagenes*/

.bestia{
-webkit-transition:all .9s ease; /* Safari y Chrome */
-moz-transition:all .9s ease; /* Firefox */
-o-transition:all .9s ease; /* IE 9 */
-ms-transition:all .9s ease; /* Opera */
width:100%;
}
.bestia:hover{
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
filter: grayscale(80%);
}

.bestia{/*Ancho y altura son modificables al requerimiento de cada uno*/
width:255px;
height:220px;
overflow:hidden;
border: white 10px ridge;
border-radius: 15px;
padding:0px;
cursor:pointer;
}

/* texto sobre la imagen */

.bestiario{
	position: relative;
	display: inline-block;
	text-align: center;
}

.texto-flotante {
	position: absolute;
	top: 10px;
	left: 10px;	
}

.centrado {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

#list-group {
	background-color:gray;
}